/*layer控件*/
.layui-layer-title{font-family: 微软雅黑;}
.layui-layer-content iframe{height: 100%;background-color: #f5f6f8;}

/*按钮*/
.layui-layer-btn a{height: auto !important;padding: 4px 15px !important;border-radius: 4px !important;font: 12px/12px 微软雅黑 !important;border: 1px solid #ccc !important;}
.layui-layer-btn a:first-child{padding: 5px 16px !important;background-color: #3c766a !important;border: none !important;}
.layui-layer-btn a:hover{opacity: 1 !important;}

/*主页面的最外框*/
.kjy-box{width: calc(100% - 48px);width: -webkit-calc(100% - 48px);width: -moz-calc(100% - 48px);margin: 12px;padding: 12px;border-radius: 6px;overflow: hidden;background-color: #fff;}
.kjy-flex-box{height: calc(100% - 48px);height: -webkit-calc(100% - 48px);height: -moz-calc(100% - 48px);overflow-y: auto;position: absolute;top: 0;left: 0;display:flex;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
[v-cloak]{display:none}

/*全屏*/
.full-height-box{height: 100% !important;}
.full-box{width: 100%;height: 100%;background-color: #fff;position: absolute;top: 0;left: 0;}
.full-box canvas{width: 100%;height: 100%;}
.img-box img{width: 100%;height: 100%;}

/*公共样式*/
input,select,textarea,.no-content-box{border: 1px solid #b7b7b7;text-indent: 8px;}
.required-flag{color: #da3e1f;}
.no-margin{margin: 0 !important;}

/*统计*/
.column-list-box{width:auto;float: left;}
.row-list-box{width: 100%;float: left;position: relative;}
.column-list-width-30{width: 30%;}
.column-list-width-40{width: 40%;}
.column-list-width-60{width: 60%;}
.column-list-width-50{width: 50%;}
.column-list-width-100{width: 100%;}
.row-list-inner-box{width: auto;margin:10px;padding:20px;border-radius:6px;background-color:#fff;box-shadow: 0px 0px 10px 1px #e1e1e1;-webkit-box-shadow: 0px 0px 10px 1px #e1e1e1;-moz-box-shadow: 0px 0px 10px 1px #e1e1e1;-ms-box-shadow: 0px 0px 10px 1px #e1e1e1;-o-box-shadow: 0px 0px 10px 1px #e1e1e1;}
.row-list-left .row-list-inner-box{background-color:#0aa182;}
.row-list-left .row-list-content-box{box-shadow: 0px 25px 15px 0px #0aa182;-webkit-box-shadow: 0px 25px 15px 0px #0aa182;-moz-box-shadow: 0px 25px 15px 0px #0aa182;-ms-box-shadow: 0px 25px 15px 0px #0aa182;-o-box-shadow: 0px 25px 15px 0px #0aa182;}
.row-list-center .row-list-inner-box{background-color: #9627e4;}
.row-list-center .row-list-content-box{box-shadow: 0px 25px 15px 0px #9627e4;-webkit-box-shadow: 0px 25px 15px 0px #9627e4;-moz-box-shadow: 0px 25px 15px 0px #9627e4;-ms-box-shadow: 0px 25px 15px 0px #9627e4;-o-box-shadow: 0px 25px 15px 0px #9627e4;}
.row-list-right .row-list-inner-box{background-color: #3680ee;}
.row-list-right .row-list-content-box{box-shadow: 0px 25px 15px 0px #3680ee;-webkit-box-shadow: 0px 25px 15px 0px #3680ee;-moz-box-shadow: 0px 25px 15px 0px #3680ee;-ms-box-shadow: 0px 25px 15px 0px #3680ee;-o-box-shadow: 0px 25px 15px 0px #3680ee;}
.row-list-title-box{width: 100%;position: relative;}
.row-list-title-text{width: auto;max-width: 300px;font: 16px/16px 微软雅黑;color: #333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.row-list-left .row-list-title-text,.row-list-center .row-list-title-text,.row-list-right .row-list-title-text{color: #fff;}
.row-list-title-box .opera-box{width: auto;height: 22px;position: absolute;top: 0;bottom: 0;right: 0px;margin: auto auto;}
.row-list-title-box .opera-box select{display:block;width:80px;float:left;height: 100%;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.row-list-title-box .opera-box .big{width: 160px;}
.row-list-content-box{width: auto;margin-top:20px;overflow:hidden;position: relative;}
.row-list-content-box ul{width: 100%;overflow: hidden;}
.row-list-content-box li{float:left;width: 50%;overflow: hidden;color: #333;}
.row-list-left li{width: 25%;}
.row-list-left li,.row-list-center li,.row-list-right li{color: #fff;}
.row-list-left .row-list-name,.row-list-center .row-list-name,.row-list-right .row-list-name{color: rgba(255,255,255,0.8);}
.row-list-content-box .row-list-name,.row-list-content-box .row-list-value{font: 12px/22px 微软雅黑;}
.row-list-content-box .row-list-value{font-size: 14px;font-weight: bold;}
.row-list-content-box .row-list-value span{font-size: 10px;}
.row-list-canvas-box{width: 100%;min-height: 280px;}
.full-box .row-list-canvas-box{width: 100%;height: 100%;min-height: auto;}

/*图标*/
.icon{cursor: pointer;background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.icon-check-box,.icon-radio-box{width: 10px;height: 10px;background-color: #fff;border: 1px solid #ccc;}
.icon-check-box{border-radius: 2px;}
.icon-radio-box{border-radius: 50%;}
.icon-del-range{background-image: url(../img/icon/icon-del-range.png);}
.icon-opera-add{background-image: url(../img/icon/icon-add.png);}
.icon-opera-reduce{background-image: url(../img/icon/icon-reduce.png);}
.icon-arrow-up{background-image: url(../img/icon/icon-arrow-up.png);}
.icon-arrow-down{background-image: url(../img/icon/icon-arrow-down.png);}
.icon-surveillance{background-image: url(../img/icon/icon-surveillance.png);}
.icon-select-time{background-image: url(../img/icon/icon-select-time.png);}
.icon-search{background-image: url(../img/icon/icon-search.png);}
.icon-fold-no-open{background-image: url(../img/icon/icon-fold-no-open1.png);}
.icon-fold-open{background-image: url(../img/icon/icon-fold-open1.png);}
.icon-fold-select-open{background-image: url(../img/icon/icon-fold-select-open1.png);}
.icon-checked{background-image: url(../img/icon/icon-checked.png);}
.icon-radio-checked{background-image: url(../img/icon/icon-radio-checked.png);}
.icon-no-data{background-image: url(../img/common/no-data.png);}
.common-left-top-decorate{background-image: url(../img/common/common-left-top-decorate.png);}
.common-left-bottom-decorate{background-image: url(../img/common/common-left-bottom-decorate.png);}
.common-right-top-decorate{background-image: url(../img/common/common-right-top-decorate.png);}
.common-right-bottom-decorate{background-image: url(../img/common/common-right-bottom-decorate.png);}
.cut-line-bg{width: 100%;height: 2px;background-image: url(../img/common/cut-line.png);background-repeat: no-repeat;background-size: 100% 100%;}
.mask-cut-line-bg{width: 100%;height: 2px;background-image: url(../img/common/mask-cut-line.png);background-repeat: no-repeat;background-size: 100% 100%;}
.month-summary-alarm{background-image: url(../img/index/month-summary-alarm.png);}
.month-summary-fault{background-image: url(../img/index/month-summary-fault.png);}
.month-summary-low-pressure{background-image: url(../img/index/month-summary-low-pressure.png);}

/*首页*/
.index-box{background: url(../img/common/welcome.png) center bottom no-repeat;background-size: 50% auto;}
.index-box .title-box{width: 100%;margin-top: 12%;position: relative;}
.index-box .title-text{width: 100%;overflow: hidden;font: bold 45px 微软雅黑;color: #3c766a;text-align: center;letter-spacing: 6px;}
.index-box .title-describe{letter-spacing: 14px;font-size: 52px;font-weight: normal;color: rgba(60, 118, 106, 0.1);position:absolute;top: -32px;left: 0;}

/*定位*/
.position-top{position: absolute;top: 0;left: 0;right: 0;margin: auto auto;}
.position-bottom{position: absolute;bottom: 0;left: 0;right: 0;margin: auto auto;}
.position-left{position: absolute;top: 0;bottom: 0;left: 0;margin: auto auto;}
.position-right{position: absolute;top: 0;bottom: 0;right: 0;margin: auto auto;}
.position-center{position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto auto;}
.position-left-top{position: absolute;top: 0;left: 0;}
.position-left-bottom{position: absolute;bottom: 0;left: 0;}
.position-right-top{position: absolute;top: 0;right: 0;}
.position-right-bottom{position: absolute;bottom: 0;right: 0;}

/*搜索按钮区域*/
.btn-box{width: auto;position: relative;}
.btn-inner-box,.search-btn-box{width: auto;margin-bottom: 14px;overflow: hidden;}
.search-btn-box{float: left;}
.btn{cursor:pointer;padding: 4px 15px;float: left;margin-right: 14px;border: 1px solid #ccc;border-radius: 4px;font: 12px/12px 微软雅黑;color: #333;}
.btn:first-child{padding: 5px 16px;background-color: #3c766a;color: #fff;border: none;}
.btn:last-child{margin-right:0px;}
.disabled-btn{background-color: #eaeaea;}
.btn a{display: block;width: 100%;height: 100%;color: #fff;text-align: center;}

/*搜索部分*/
.search-box{width: 100%;}
.search-inner-box{width: 100%;overflow: hidden;}
.search-row-box{width: 100%;margin-bottom: 14px;overflow: hidden;position: relative;}
.search-row-box:last-child{margin-bottom: 0px;}
.opera-left-box .search-row-box{height: 22px;}
.search-list{width: auto;height: 22px;float: left;margin: 0px 36px 14px 0px;overflow: hidden;}
.search-list:last-child{margin-right: 56px;}
.search-name{width: auto;height: 100%;float:left;font: 12px/22px 微软雅黑;color: #333;text-align: left;}
.search-value{width: auto;height: 100%;float:left;position: relative;}
.search-box input,.search-box select{height: 20px;border-radius: 4px;font:12px/20px 微软雅黑;color:#333;}
.search-box input{width: 150px;}
.search-box select{width: 152px;}
.search-box .width-80{width: 80px;}
.search-box .full-width{width: 100%;}
.search-box .icon{width: 12px;height: 100%;background-size: 100% auto;}
.search-value-list-box {width: auto;overflow: hidden;float: left;}
.search-value-list-box li{cursor: pointer;width: auto;padding: 0px 12px;margin-right: 12px;float: left;font: 12px/22px 微软雅黑;color: #fff;}
.search-value-list-box li:last-child{margin-right: 0px;}
.search-value-list-box .selected{background-color: rgba(7,166,255,0.2);border-radius: 4px;color: #07a6ff;}

/*表格,数据区域*/
.kjy-data-box{width: 100%;height: 100%;overflow: hidden;position: relative;}
.kjy-data-inner-box{width: 100%;height: 100%;overflow: hidden;}
.kjy-table{width: 100%;height: calc(100% - 36px);height: -moz-calc(100% - 36px);height: -webkit-calc(100% - 36px);overflow: auto;position: relative;}
.kjy-table table{width: auto;min-width:100%;border-spacing: initial;border-collapse: collapse;overflow: hidden;}
.kjy-table table thead,.kjy-table table tbody{width: 100%;overflow: hidden;position: relative;}
.kjy-table table th,.kjy-table table td{width: auto;height: 22px;padding: 10px 50px 10px 0px;max-width: 200px;font: 12px/22px 微软雅黑;color: #333;text-align: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;position: relative;}
.kjy-table thead tr{background-color: #efefef;}
.kjy-table table th:first-child,.kjy-table table td:first-child{padding-left: 20px;}
.kjy-table table th:last-child,.kjy-table table td:last-child{padding-right: 20px;}
.kjy-table tbody tr:nth-child(even){background-color: #f8f8f8;}
.kjy-table tbody tr:hover{background-color: #eef6f4;}
.kjy-table table td input,.kjy-table table td select,.kjy-table table td textarea{width: 100%;height: 20px;font: 12px/20px 微软雅黑;color: #333;border-radius: 4px;}
.kjy-table .icon-check-box,.kjy-table .icon-radio-box{position: absolute;top: 0;bottom:0;left: 20px;margin: auto auto;}
.kjy-table .padding-left-52{padding-left: 56px !important;}
.kjy-table .opera-box{width: 100%;overflow: hidden;}
.kjy-table .opera-box li{cursor: pointer;width: auto;margin-right: 12px;float: left;overflow: hidden;font: 12px/22px 微软雅黑;color: #3c766a;}
.kjy-table .opera-box li:last-child{margin-right: 0px;}

/*弹框*/
.mask-box{padding: 12px;background-color: #fff;overflow: hidden;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto auto;}
.mask-inner-box{width: auto;height: calc(100% - 42px);height: -moz-calc(100% - 42px);height: -webkit-calc(100% - 42px);overflow: auto;position: relative;}
.mask-row-list{width: 100%;overflow: hidden;}
.mask-list{width: auto;float: left;margin-bottom: 14px;}
.mask-list:last-child{margin-bottom: 0px;}
.mask-list-name{width: 100px;float:left;font: 12px/22px 微软雅黑;color: #333;text-align: right;}
.mask-list-value{width: auto;float: left;position: relative;}
.mask-list-full-value{width: calc(100% - 100px);}
.mask-list-value input,.mask-list-value select,.mask-list-value textarea{height: 20px;font: 12px/20px 微软雅黑;color: #333;border-radius: 4px;}
.mask-list-value input{width: 174px;}/*输入框*/
.mask-list-value select{width: 176px;}/*选择控件*/
.mask-list-value textarea{width: 270px;height: 100px;}/*文本域*/
.mask-list-value .width-80{width: 80px;}/*数字*/
.mask-list-value .width-450{width: 450px;}/*大输入框*/
.mask-list-value .width-147{width: 147px;}/*三级联动*/
.mask-list-value .icon{width: 12px;height: 100%;background-size: 100% auto;}
.mask-list-value .icon-del-range{width: 10px;height: 10px;position: absolute;top: -5px;right: -5px;}
.mask-value-list-box{width: auto;}
.mask-value-list{width: auto;height: 22px;margin-bottom: 12px;position: relative;}
.mask-value-list:last-child{margin-bottom: 0px;}
.mask-list-value-text{width: 175px;height: 22px;font: 12px/22px 微软雅黑;color: #fff;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.mask-box .cut-line{margin: 20px auto;}
.mask-unit-box{width: auto;height: 22px;float: left;margin-left: 8px;font: 12px/22px 微软雅黑;color: #333;}
.mask-title-box{width: 100%;font: 12px/12px 微软雅黑;color: #fff;text-align: center;}
.mask-content-box{width: 100%;margin-bottom: 20px;overflow: hidden;}
.mask-textarea-box{width: 270px;height: 62px;padding: 10px;border-radius: 4px;border: 1px solid rgba(7,166,255,0.6);background-color: rgba(3, 47, 74, 0.6);font: 12px/22px 微软雅黑;color: #fff;}
.mask-content-box:last-child{margin-bottom: 0px;}
.mask-content-text{width: 100%;margin-bottom: 28px;font: 12px/12px 微软雅黑;color: #fff;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.mask-content-text:last-child{margin-bottom: 0px;}
.mask-content-box .img-box{width: 84px;height: 84px;float: left;margin-right: 18px;border: 1px solid rgba(7,166,255,0.6);border-radius: 4px;}
.mask-content-box .img-box:last-child{margin-right: 0px;}
.mask-box .btn-box{height: 22px;margin-top: 20px;overflow: hidden;}
.mask-box .btn-inner-box{width: auto;margin-bottom: 0px;position: absolute;top: 0;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-o-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.mask-list .btn-box{margin-top: 0px;float: left;}
.mask-list .btn-inner-box{margin-left: 20px;position: relative;left: 0;-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);-ms-transform: translateX(0);}
.mask-box .btn{float: right;margin-right: 0px;margin-left: 14px;}
.mask-box .btn:last-child{margin-left: 0px;}
.mask-select-box{width: 284px;padding: 14px 14px 0px;border-radius: 4px;background-color: #013c62;overflow: hidden;}
.mask-select-box li{width: 50%;margin-bottom: 14px;float: left;font: 12px/12px 微软雅黑;color: #fff;text-indent: 20px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;position: relative;}

/*分页*/
.page-box{width: 100%;overflow: hidden;}
.page-inner-box{width: 100%;margin-top: 14px;overflow: hidden;}
.page-box .text-box,.page-box .opera-box div,.page-box .opera-box ul li{font-size: 12px;font-family: 微软雅黑;color: #333;}
.page-box .text-box{width: auto;float: left;height: 100%;line-height: 22px;}
.page-box .text-box span{color: #da3e1f;}
.page-box .text-box:nth-child(1){float: left;}
.page-box .text-box:nth-child(2){float: right;margin-left: 8px;}
.page-box .opera-box{width: auto;float: right;overflow: hidden;}
.page-box .opera-box div,.page-box .opera-box ul li{float: left;border: 1px solid #dbdbdb;line-height: 12px;border-radius: 4px;background-color: #fff;}
.page-box .opera-box div{cursor: pointer;width: auto;padding: 4px 12px;}
.page-box .opera-box ul{width: auto;margin: 0px 8px;float: left;overflow: hidden;}
.page-box .opera-box ul li{cursor: pointer;padding: 4px 8px;margin-right: 6px;text-align: center;}
.page-box .opera-box ul li:last-child{margin-right: 0px;}
.page-box .opera-box ul .selected{padding: 5px 8px;border: none;color: #fff;background-color: #3c766a;}

/*无缝滚动*/
.scroll-box{width: 100%;height: 100%;overflow: hidden;position: relative;}
.scroll-title-box{width: 100%;overflow: hidden;border-bottom: 1px solid rgba(0, 118, 180, 0.5);}
.scroll-title-box li{overflow: hidden;float: left;text-align: center;color: #fff;}
.scroll-content-box{width: 100%;overflow: hidden;position: relative;}
.scroll-content-inner-box{width: 100%;height: 100%;position: relative;}
.scroll-content-box ul{width: 100%;overflow: hidden;}
.scroll-content-box li{width: 100%;overflow: hidden;font: 10px/30px 微软雅黑;color: #fff;text-align: center;}
.scroll-content-box li div{height: 100%;float: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.row-list-height-35 .scroll-title-box li{font: 12px/30px 微软雅黑;}
.row-list-height-35 .scroll-content-box{height: calc(100% - 30px);height: -moz-calc(100% - 30px);height: -webkit-calc(100% - 30px);}
.row-list-height-35 .scroll-title-box li,.row-list-height-35 .scroll-content-inner-box div{width: 20%;}
.row-list-height-30 .scroll-title-box li{font: 12px/24px 微软雅黑;}
.row-list-height-30 .scroll-content-box{height: calc(100% - 24px);height: -moz-calc(100% - 24px);height: -webkit-calc(100% - 24px);}
.row-list-height-30 .scroll-title-box li:nth-child(1),.row-list-height-30 .scroll-content-inner-box div:nth-child(1){width: 45%;}
.row-list-height-30 .scroll-title-box li:nth-child(2),.row-list-height-30 .scroll-content-inner-box div:nth-child(2){width: 20%;}
.row-list-height-30 .scroll-title-box li:nth-child(3),.row-list-height-30 .scroll-content-inner-box div:nth-child(3){width: 35%;}

/*页面导航菜单*/
.tab-list-box{width: 100%;margin-bottom: 20px;}
.tab-list-box li{cursor: pointer;width: auto;padding: 10px 16px;margin-right:14px;float: left;font: 14px/14px 微软雅黑;color: #fff;background-image: url(../img/common/tab-list-bg.png);background-repeat: no-repeat;background-size: 100% 100%;}
.tab-list-box li:last-child{margin: 0px;}
.tab-list-box .selected{color: #07a6ff;background-image: url(../img/common/tab-list-select-bg.png);}
.tab-content-box{width: 100%;height: 100%;overflow: hidden;}
.tab-content-box iframe{width: 100%;height: 100%;}

/*进度*/
.speed-box{width: auto;}
.speed-list-box{width: 100%;position: relative;}
.speed-list-box .icon-speed-circle,.speed-list-box .icon-speed-select-circle{border-radius: 50%;position: absolute;}
.speed-list-box .icon-speed-circle{width: 6px;height: 6px;background-color: #016ca7;top: -3px;left: -2.5px;}
.speed-list-box .icon-speed-select-circle{width: 10px;height: 10px;background: url(../img/icon/icon-speed-select-circle.png) no-repeat;background-size: 100% 100%;top: -5px;left: -4.5px}
.speed-list-inner-box{width: auto;padding: 0px 0px 16px 10px;border-left: 1px solid #035979;}
.speed-list-box:last-child .speed-list-inner-box{padding-bottom: 0px;border: none;}
.speed-list-text{width: 100%;margin-bottom: 8px;font: 12px/12px 微软雅黑;color: #fff;}
.speed-list-text:first-child{color: #07a6ff;}

/*范围框*/
.range-box{width: 360px;height: 62px;padding: 10px 6px;border: 1px solid #ccc;border-radius: 4px;overflow: auto;}
.range-box li{width: auto;padding: 4px 10px;margin-right: 12px;margin-bottom: 4px;float: left;border-radius: 4px;border: 1px solid #ccc;font: 12px/12px 微软雅黑;color: #333;position: relative;}
.range-box li:last-child{margin-right: 0px;}

/*轮播图*/
.swiper-container{width: 100%;height: 100%;overflow: hidden;}
.swiper-container-horizontal>.swiper-pagination-bullets, .banner .swiper-pagination-custom, .banner .swiper-pagination-fraction{bottom: 20px;}
.swiper-pagination-bullet{width: 20px;height: 5px;border-radius:3px;background: #999;opacity: 6;}
.swiper-pagination-bullet-active{background: #fff;}

/*折叠面板*/
.fold-box{width: 100%;overflow: hidden;}
.fold-list-box{width: 100%;margin-bottom: 20px;overflow: hidden;}
.fold-list-box:last-child{margin-bottom: 0px;}
.fold-title-box{cursor:pointer;width: 100%;overflow: hidden;position: relative;}
.fold-title-text-box{width: 120px;float: left;font: 12px 微软雅黑;color: #333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fold-title-box .selected,.fold-content-box .selected{color: #3c766a;font-size: 14px;}
.fold-title-box .icon{width: 12px;height: 12px;position: absolute;top: 0;bottom: 0;right: 0;margin: auto auto;}
.fold-content-box{width: auto;padding: 20px 0px 0px 20px;overflow: hidden;}
.fold-content-box .fold-content-inner-box{width: 100%;overflow: hidden;}
.fold-content-box ul{width: 100%;overflow: hidden;}
.fold-content-box li{cursor:pointer;width: auto;height:22px;margin-bottom: 12px;font:12px/22px 微软雅黑;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;position: relative;}
.fold-content-box li:last-child{margin-bottom: 0px;}

/*操作菜单框*/
.opera-list-box{width: 100%;height: 100%;}
.opera-list{width:auto;height: 100%;}
.opera-list-inner-box{width: auto;height: 100%;overflow:auto;position: relative;}
.opera-left-box{width: 180px;float: left;background-color: #efefef;}
.opera-left-box .opera-list-inner-box{padding: 20px;height: calc(100% - 40px);height: -moz-calc(100% - 40px);height: -webkit-calc(100% - 40px);}
.opera-left-box .search-box{margin-bottom: 28px;}
.opera-right-box{width: calc(100% - 200px);width: -webkit-calc(100% - 200px);width: -moz-calc(100% - 200px);float: right;}
.opera-video-box{width: 100%;height: 100%;overflow: hidden;}
.opera-video-box .video-box{width: 100%;height: calc(100% - 62px);height: -moz-calc(100% - 62px);height: -webkit-calc(100% - 62px);background-color: #000;overflow: hidden;}
.opera-video-box .video-box video{width: 100%;height: 100%;}
.opera-right-box .btn-box{overflow: hidden;}
.opera-right-box .btn-inner-box{margin: 20px;}
.opera-right-box .btn{float: right;margin-right: 0px;margin-left: 20px;}
.opera-right-box .btn:last-child{margin-left: 0px;}

/*隐藏模块*/
.hide-box{display: none;}

/*无数据*/
.no-data-box{width:100%;height: 100%;position: relative;}
.no-data-row-text,.no-data-inner-box{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.no-data-row-text{width: 100%;height: 22px;font: 12px/22px 微软雅黑;color: #666;text-align: center;}
.no-data-inner-box{width:200px;height:169px;}
.no-data-box .icon{margin:0px auto;}
.no-data-box .icon-no-data{height:137px;}
.no-data-box .no-data-text{width: 100%;font: 12px/12px 微软雅黑;color: #666;text-align: center;margin-top: 20px;}

/*报错页面*/
.err-box{width: 200px;height:242px;overflow: hidden;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.err-img{width: 100%;overflow: hidden;}
.err-img img{width: 100%;}
.err-text{width: 100%;height: 42px;font-size: 12px;font-family:微软雅黑;font-weight:bold;line-height: 42px;color: #666;text-align: center;}