<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/common.css?v=04c77e4362" />
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="layui/layui.all.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/postUrl.js?v=036ec59d5d"></script>
		<script src="js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					电力测试
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有电力记录哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>时间</th>
							<th>正向有功总（示值）</th>
							<th>正向无功总（示值）</th>
							<th>正向有功总（电量）</th>
							<th>正向无功总（电量）</th>
							<th>总有功（功率）</th>
							<th>总无功（功率）</th>
							<th>总（功率因数）</th>
							<th>A相（电压）</th>
							<th>B相（电压）</th>
							<th>C相（电压）</th>
							<th>A相（电流）</th>
							<th>B相（电流）</th>
							<th>C相（电流）</th>
							<th>来源</th>
							<th>更新时间</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td>{{i+1}}</td>
							<td>00:00</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>{{t.createTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//		加载数据
		function loadData() {
			var param = {
				page: page
			};
			request('POST', '/data/original/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allIsActive = false;
			}, function(res) {
				layer.msg("电力记录加载失败");
			})
		}
		loadData();
	</script>

</html>