<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=04c77e4362" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=036ec59d5d"></script>
		<script src="../js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">用户账号：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="account" placeholder="用户账号" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">用户状态：</div>
						<div class="search-value">
							<select name="" id="state">
								<option value="">用户状态</option>
								<option value="1">启用</option>
								<option value="0">禁用</option>
							</select>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="account();">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有用户记录哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>用户名称</th>
									<th>用户账号</th>
									<th>联系方式</th>
									<th>用户状态</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td>{{((pageNo-pageSize)*20)+(i+1)}}</td>
									<td>{{t.name}}</td>
									<td>{{t.account}}</td>
									<td>{{t.telephone?t.telephone:'暂无联系方式'}}</td>
									<td>{{t.stateText}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="administrator(t)">编辑</li>
											<li v-on:click="changeState(t)">{{t.state == 0?'启用':"禁用"}}</li>
											<li v-on:click="del(t)">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);
		//新建或编辑
		function account(obj) {
			layer.msg("该功能未开放");
			//			if(obj) {
			//				var title = "编辑用户";
			//				var h = "204px"
			//			} else {
			//				var title = "新建用户";
			//				var h = "276px";
			//			}
			//			openMask("/part/account", "新建用户", ["342px", h], function(layerDom, layerIframe) {
			//				if(obj) {
			//					layerIframe.setData.showPassword = false;
			//					layerIframe.setData.showCheckPassword = false;
			//					layerIframe.setData.parentData = obj;
			//					layerDom.find("#name").val(obj.name);
			//					layerDom.find("#account").val(obj.account).attr("disabled", "disabled");
			//					layerDom.find("#telephone").val(obj.telephone);
			//				}
			//			});
		}

		function changeState(obj) {
			layer.msg("该功能未开放");
		}

		//删除数据
		function del(obj) {
			openConfirm("确定删除该用户吗？", function() {
				var param = {
					id: obj.id
				}
				request('POST', '/account/manager/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				name: $("#name").val(),
				state: $("#state").val()
			};
			request('POST', '/account/manager/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				loadPage();
			}, function(res) {
				layer.msg("用户记录加载失败");
			})
		}
		loadData();
	</script>

</html>