<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=04c77e4362" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=036ec59d5d"></script>
		<script src="../js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">设施名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="设施名称" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设施类别：</div>
						<div class="search-value">
							<select name="" id="type" onchange="search();">
								<option value="">设施类别</option>
								<option value="0">生产设施</option>
								<option value="1">治理设施</option>
							</select>
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">所属企业：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="companyName" placeholder="所属企业" />
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="facility();">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有设施记录哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>设施类别</th>
									<th>单元名称</th>
									<th>单元序号</th>
									<th>设施名称</th>
									<th>设施序号</th>
									<th>所属企业</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td>{{t.typeText}}</td>
									<td v-bind:title="t.unitName">{{t.unitName}}</td>
									<td>{{t.unitSort}}</td>
									<td v-bind:title="t.name">{{t.name}}</td>
									<td>{{t.facilitySort}}</td>
									<td v-bind:title="t.companyName">{{t.companyName}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="facility(t)">编辑</li>
											<li v-on:click="del(t)">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//新建或编辑
		function facility(obj) {
			if(obj) {
				var title = "编辑设施";
			} else {
				var title = "新建设施";
			}
			openMask("/part/facility", title, ["602px", "360px"], function(layerDom, layerIframe) {
				layerIframe.setData.showSelectCompanyBtn = true;
				if(obj) {
					layerIframe.setData.parentData = obj;
					var type = obj.type;
					layerIframe.setData.type = type;
					layerDom.find("#type").val(obj.type).attr("disabled", "disabled");
					layerDom.find("#unitName").val(obj.unitName);
					layerDom.find("#unitSort").val(obj.unitSort);
					layerDom.find("#name").val(obj.name);
					layerDom.find("#facilitySort").val(obj.facilitySort);
					layerDom.find("#main").val(obj.main);
					layerDom.find("#sub").val(obj.sub);
					layerDom.find("#companyName").val(obj.companyName);
					layerDom.find("#companyId").val(obj.companyId);
					layerIframe.nextTick(function() {
						if(type == "0") {
							layerDom.find("#pollutionType").val(obj.pollutionType);
							layerDom.find("#emissionType").val(obj.emissionType);
							layerDom.find("#emissionPortType").val(obj.emissionPortType);
						} else if(type == "1") {
							layerDom.find("#emissionPort").val(obj.emissionPort);
							layerIframe.setData.facilityIdList = obj.facilityIdList;
							layerIframe.loadFacility();
						}
					})
				}
			})
		}

		//删除数据
		function del(obj) {
			openConfirm("确定删除该设施吗？", function() {
				var param = {
					id: obj.id
				}
				request('POST', '/company/facility/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var parentData = setData.parentData;
			var param = {
				pageNo: pageNo,
				name: $("#name").val(),
				type: $("#type").val(),
				companyName: $("#companyName").val()
			};
			request('POST', '/company/facility/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					var serialNumber = dataList[i].serialNumber.split("-");
					dataList[i].unitSort = serialNumber[1];
					dataList[i].facilitySort = serialNumber[0];
					if(dataList[i].type == "0") {
						dataList[i].typeText = "生产设施";
					} else if(dataList[i].type == "1") {
						dataList[i].typeText = "治理设施";
					}
				}
				setData.dataList = dataList;
				setData.allIsActive = false;
				loadPage();
			}, function(res) {
				layer.msg("设施记录加载失败");
			})
		}
		loadData();
	</script>

</html>