<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=04c77e4362" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=036ec59d5d"></script>
		<script src="../js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">数采仪名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="数采仪名称" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">所属企业：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="companyName" placeholder="所属企业" />
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="gateway();">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有数采仪记录哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>数采仪名称</th>
									<th>MN码</th>
									<th>所属企业</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.name">{{t.name}}</td>
									<td v-bind:title="t.mn">{{t.mn}}</td>
									<td v-bind:title="t.companyName">{{t.companyName}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="gateway(t)">编辑</li>
											<li v-on:click="del(t)">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//		新建
		function gateway(obj) {
			if(obj) {
				var title = "编辑数采仪";
			} else {
				var title = "新建数采仪";
			}
			openMask("/part/gateway", title, ["402px", "204px"], function(layerDom, layerIframe) {
				layerIframe.setData.showSelectCompanyBtn = true;
				if(obj) {
					layerIframe.setData.parentData = obj;
					layerDom.find("#name").val(obj.name);
					layerDom.find("#mn").val(obj.mn).attr("disabled","disabled");
					layerDom.find("#companyName").val(obj.companyName);
					layerDom.find("#companyId").val(obj.companyId);
				}
			});
		}
		
		//删除数据
		function del(obj) {
			openConfirm("确定删除该数采仪吗？", function() {
				var param = {
					id: obj.id
				}
				request('POST', '/company/gateway/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				name: $("#name").val(),
				companyName: $("#companyName").val()
			};
			request('POST', '/company/gateway/queryList.do', param, true, function(res) {
				setData.dataList = res.data.dataList;
				loadPage();
			}, function(res) {
				layer.msg("数采仪记录加载失败");
			})
		}
		loadData();
	</script>

</html>