<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=04c77e4362" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=036ec59d5d"></script>
		<script src="../js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">郑州环保设施：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="xlSubDevCode" placeholder="郑州环保设施" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">安科瑞设施：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="acrelSubDevCode" placeholder="安科瑞设施" />

						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="monitorRelationShip();">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有设施记录哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>郑州环保MN码</th>
									<th>郑州环保设施</th>
									<th>安科瑞MN码</th>
									<th>安科瑞设施</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td>{{t.xlMN}}</td>
									<td>{{t.xlSubDevCode}}</td>
									<td>{{t.acrelMN}}</td>
									<td>{{t.acrelSubDevCode}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="del(t)">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//新建或编辑
		function monitorRelationShip() {
			var parentData = setData.parentData;
			var count = setData.count;
			if(count.length >= 30) {
				layer.msg("基站最多监测30个设施哦");
				return false;
			}
			openMask("/part/monitorRelationShip", "新建设施", ["310px", "256px"], function(layerDom, layerIframe) {
				layerDom.find("#xlMN").val(parentData.xlMN);
				layerDom.find("#acrelMN").val(parentData.acrelMN);
			})
		}

		//删除数据
		function del(obj) {
			openConfirm("确定删除该设施吗？", function() {
				var param = {
					id: obj.id
				}
				request('POST', '/company/monitorRelationShip/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var parentData = setData.parentData;
			var param = {
				pageNo: pageNo,
				xlMN: parentData.xlMN,
				acrelMN: parentData.acrelMN,
				xlSubDevCode: $("#xlSubDevCode").val(),
				acrelSubDevCode: $("#acrelSubDevCode").val()
			};
			request('POST', '/company/monitorRelationShip/queryList.do', param, true, function(res) {
				setData.dataList = res.data.dataList;
				loadPage();
			}, function(res) {
				layer.msg("设施记录加载失败");
			})
		}
	</script>

</html>