<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=04c77e4362" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=036ec59d5d"></script>
		<script src="../js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">机构名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="机构名称" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">机构代码：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="code" placeholder="机构代码" />
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="organization();">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有机构记录哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>机构名称</th>
									<th>机构代码</th>
									<th>上级机构</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td>{{t.name}}</td>
									<td>{{t.code}}</td>
									<td>{{t.parentOrganization?t.parentOrganization:'暂无上级机构'}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="organization(t);">编辑</li>
											<li v-on:click="del(t);">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);
		$(function() {
			setTime('#startTime', "date", "yyyy-MM-dd");
			setTime('#endTime', "date", "yyyy-MM-dd");
		})
		//新建或编辑
		function organization() {
			layer.msg("此功能未开放");
		}

		function del(obj) {
			openConfirm("确定删除该机构吗？", function() {
				//				var param = {
				//					id: obj.id
				//				}
				//				request('POST', '/company/stationRelationShip/delete.do', param, true, function(res) {
				//					loadData();
				//					layer.closeAll('dialog');
				//				}, function(res) {
				//					layer.msg("删除失败");
				//				})
			})
		}

		//		加载数据
		function loadData() {
			//			var param = {
			//				page: page,
			//				company: $("#company").val()
			//			};
			//			request('POST', '/account/administrator/queryList.do', param, true, function(res) {
			//				var dataList = res.data;
			var dataList = [{
				id: "1",
				name: "河南省环保厅",
				code: "123456",
				parentOrganization: "",
				createTime: "2019-12-13 14:30:25"
			}, {
				id: "2",
				name: "郑州市环保局",
				code: "123456",
				parentOrganization: "河南省环保厅",
				createTime: "2019-12-13 14:30:25"
			}]
			setData.dataList = dataList;
			setData.totalPage = 1;
			setData.pageSize = 1;
			setData.pageNo = 1;
			setData.count = 1;
			resetPage();
			loadPage();
			//			}, function(res) {
			//				layer.msg("机构记录加载失败");
			//			})
		}
		loadData();
	</script>

</html>