<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=04c77e4362" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=036ec59d5d"></script>
		<script src="../js/common.js?v=58f68a4c96"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">安科瑞设施：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="subDevCode" placeholder="安科瑞设施" />
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有数据详情哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table full-height-box">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>郑州环保设施</th>
									<th>安科瑞设施</th>
									<th>Ia</th>
									<th>Ib</th>
									<th>Ic</th>
									<th>-Pt</th>
									<th>Ept</th>
									<th>Ua</th>
									<th>Ub</th>
									<th>Uc</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td>{{t.xlSubDevCode}}</td>
									<td>{{t.subDevCode}}</td>
									<td>{{t.data.ia}}</td>
									<td>{{t.data.ib}}</td>
									<td>{{t.data.ic}}</td>
									<td>{{t.data.pt}}</td>
									<td>{{t.data.ept}}</td>
									<td>{{t.data.ua}}</td>
									<td>{{t.data.ub}}</td>
									<td>{{t.data.uc}}</td>
									<td>{{t.updateTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="original(t);">历史数据</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		function original(obj) {
			var title = "历史数据（郑州环保设施:" + obj.xlSubDevCode + "，安科瑞设施：" + obj.subDevCode + ")";
			openMask("/pages/original", title, ["100%", "100%"], function(layerDom, layerIframe) {
				layerIframe.setData.parentData = obj;
				layerIframe.loadData();
			});
		}

		//		加载数据
		function loadData() {
			var parentData = setData.parentData;
			var param = {
				pageNo: pageNo,
				pageSize: "30",
				mn: parentData.acrelMN,
				subDevCode: $("#subDevCode").val()
			};
			request('POST', '/data/monitor/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				loadMonitorRelationShip(dataList);
			}, function(res) {
				layer.msg("数据详情加载失败");
			})
		}

		function loadMonitorRelationShip(monitorList) {
			var parentData = setData.parentData;
			var param = {
				pageNo: pageNo,
				pageSize: "30",
				acrelMN: parentData.acrelMN,
				acrelSubDevCode: $("#subDevCode").val()
			};
			request('POST', '/company/monitorRelationShip/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				for(var i = 0; i < dataList.length; i++) {
					monitorList[i].xlSubDevCode = dataList[i].xlSubDevCode;
				}
				setData.dataList = monitorList;
			}, function(res) {
				layer.msg("设施记录加载失败");
			})
		}
	</script>

</html>